PORT=5050
CLIENT_URL=http://localhost:8081

OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=gpt-4.1-mini

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
